.startWrapper {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #0e141b 0%, #000000 100%);
    overflow: hidden;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 371px 16px #FFF , 1443px 19px #FFF , 538px 348px #FFF , 1532px 1483px #FFF , 1364px 981px #FFF , 1972px 1514px #FFF , 695px 792px #FFF , 438px 879px #FFF , 1525px 1683px #FFF , 59px 338px #FFF , 1947px 1392px #FFF , 1166px 1922px #FFF , 1515px 1740px #FFF , 1503px 434px #FFF , 48px 1061px #FFF , 264px 484px #FFF , 1102px 455px #FFF , 1690px 1694px #FFF , 1208px 1070px #FFF , 31px 1461px #FFF , 897px 857px #FFF , 1136px 1149px #FFF , 164px 1063px #FFF , 336px 1507px #FFF , 290px 1036px #FFF , 859px 1333px #FFF , 140px 910px #FFF , 96px 1676px #FFF , 1851px 176px #FFF , 680px 1219px #FFF , 372px 1711px #FFF , 1411px 1966px #FFF , 1049px 444px #FFF , 157px 1260px #FFF , 1231px 1789px #FFF , 1905px 67px #FFF , 14px 587px #FFF , 1927px 476px #FFF , 832px 589px #FFF , 1849px 1563px #FFF , 1959px 822px #FFF , 1805px 1032px #FFF , 535px 848px #FFF , 515px 747px #FFF , 1076px 359px #FFF , 1383px 114px #FFF , 561px 1766px #FFF , 790px 1689px #FFF , 1704px 457px #FFF , 941px 1578px #FFF , 1572px 436px #FFF , 88px 1851px #FFF , 718px 315px #FFF , 1273px 1872px #FFF , 647px 1508px #FFF , 38px 8px #FFF , 734px 625px #FFF , 1021px 703px #FFF , 1894px 714px #FFF , 540px 1881px #FFF , 442px 462px #FFF , 843px 699px #FFF , 1537px 1609px #FFF , 879px 826px #FFF , 1903px 1470px #FFF , 994px 1420px #FFF , 605px 1383px #FFF , 1149px 382px #FFF , 447px 508px #FFF , 1785px 195px #FFF , 1688px 1058px #FFF , 555px 1223px #FFF , 74px 764px #FFF , 707px 1484px #FFF , 1869px 1129px #FFF , 1926px 518px #FFF , 34px 493px #FFF , 370px 1969px #FFF , 1767px 1296px #FFF , 55px 611px #FFF , 600px 1800px #FFF , 1912px 489px #FFF , 947px 235px #FFF , 1297px 1329px #FFF , 59px 1401px #FFF , 1912px 1722px #FFF , 1566px 830px #FFF , 676px 726px #FFF , 268px 60px #FFF , 1853px 1784px #FFF , 356px 259px #FFF , 825px 415px #FFF , 74px 946px #FFF , 1537px 1286px #FFF , 278px 1874px #FFF , 1526px 1409px #FFF , 1757px 420px #FFF , 371px 1391px #FFF , 1491px 749px #FFF , 1128px 121px #FFF , 1614px 1511px #FFF , 991px 11px #FFF , 1064px 720px #FFF , 1272px 1268px #FFF , 1216px 1138px #FFF , 1201px 1641px #FFF , 1349px 752px #FFF , 147px 266px #FFF , 716px 607px #FFF , 730px 1530px #FFF , 588px 1451px #FFF , 1965px 108px #FFF , 878px 604px #FFF , 18px 489px #FFF , 1234px 1263px #FFF , 1118px 907px #FFF , 218px 536px #FFF , 454px 1264px #FFF , 108px 1649px #FFF , 1070px 1896px #FFF , 930px 1568px #FFF , 949px 634px #FFF , 730px 1782px #FFF , 1973px 1133px #FFF , 658px 519px #FFF , 1103px 678px #FFF , 1495px 1204px #FFF , 1855px 1991px #FFF , 1131px 916px #FFF , 48px 1375px #FFF , 336px 1066px #FFF , 1157px 1208px #FFF , 393px 767px #FFF , 1025px 173px #FFF , 681px 355px #FFF , 1007px 549px #FFF , 645px 339px #FFF , 415px 295px #FFF , 1708px 206px #FFF , 1899px 803px #FFF , 1656px 951px #FFF , 679px 11px #FFF , 1280px 1133px #FFF , 1077px 234px #FFF , 1002px 690px #FFF , 1227px 1260px #FFF , 134px 720px #FFF , 1644px 767px #FFF , 1440px 1407px #FFF , 816px 9px #FFF , 1828px 1736px #FFF , 236px 312px #FFF , 939px 1162px #FFF , 1832px 1073px #FFF , 726px 174px #FFF , 125px 1124px #FFF , 362px 976px #FFF , 203px 824px #FFF , 1791px 1377px #FFF , 348px 550px #FFF , 1624px 185px #FFF , 1413px 678px #FFF , 1822px 612px #FFF , 1174px 1205px #FFF , 144px 566px #FFF , 1670px 316px #FFF , 1664px 228px #FFF , 308px 573px #FFF , 1740px 107px #FFF , 1853px 1646px #FFF , 392px 568px #FFF , 1494px 1692px #FFF , 336px 1455px #FFF , 1577px 1795px #FFF , 184px 1000px #FFF , 703px 479px #FFF , 326px 1251px #FFF , 1309px 980px #FFF , 1395px 84px #FFF , 430px 245px #FFF , 2000px 917px #FFF , 701px 1238px #FFF , 1180px 573px #FFF , 1332px 232px #FFF , 1716px 915px #FFF , 644px 883px #FFF , 1760px 734px #FFF , 1351px 1309px #FFF , 1469px 1852px #FFF , 664px 572px #FFF , 1460px 1192px #FFF , 308px 1141px #FFF , 62px 1057px #FFF , 417px 938px #FFF , 1445px 1989px #FFF , 1588px 100px #FFF , 1526px 1521px #FFF , 1847px 1501px #FFF , 1830px 1739px #FFF , 118px 1812px #FFF , 488px 996px #FFF , 86px 775px #FFF , 612px 117px #FFF , 211px 491px #FFF , 1551px 372px #FFF , 591px 1847px #FFF , 609px 712px #FFF , 820px 984px #FFF , 952px 1458px #FFF , 92px 497px #FFF , 1804px 1788px #FFF , 369px 1113px #FFF , 757px 225px #FFF , 385px 945px #FFF , 810px 16px #FFF , 223px 902px #FFF , 533px 433px #FFF , 672px 1224px #FFF , 589px 1723px #FFF , 481px 1468px #FFF , 299px 1549px #FFF , 1266px 1276px #FFF , 696px 1349px #FFF , 551px 1324px #FFF , 1280px 696px #FFF , 1722px 1797px #FFF , 808px 812px #FFF , 1864px 770px #FFF , 1237px 1334px #FFF , 1283px 952px #FFF , 514px 1900px #FFF , 1109px 899px #FFF , 1007px 985px #FFF , 7px 238px #FFF , 821px 869px #FFF , 1142px 1262px #FFF , 289px 1224px #FFF , 1071px 352px #FFF , 1822px 916px #FFF , 418px 157px #FFF , 619px 578px #FFF , 549px 1367px #FFF , 494px 181px #FFF , 1698px 1297px #FFF , 1486px 325px #FFF , 79px 1060px #FFF , 1519px 1467px #FFF , 779px 738px #FFF , 744px 863px #FFF , 1340px 75px #FFF , 1577px 1687px #FFF , 1352px 266px #FFF , 1156px 343px #FFF , 435px 1746px #FFF , 118px 1369px #FFF , 356px 1294px #FFF , 325px 1651px #FFF , 741px 1665px #FFF , 341px 1378px #FFF , 1325px 304px #FFF , 991px 1027px #FFF , 830px 1450px #FFF , 1956px 1915px #FFF , 867px 779px #FFF , 674px 1115px #FFF , 1693px 1306px #FFF , 1506px 894px #FFF , 327px 673px #FFF , 1365px 699px #FFF , 381px 1824px #FFF , 1533px 1636px #FFF , 307px 983px #FFF , 1388px 991px #FFF , 356px 556px #FFF , 490px 396px #FFF , 1637px 973px #FFF , 825px 452px #FFF , 691px 1344px #FFF , 642px 1150px #FFF , 962px 1349px #FFF , 526px 558px #FFF , 1433px 1572px #FFF , 1924px 1574px #FFF , 1937px 696px #FFF , 486px 397px #FFF , 1212px 225px #FFF , 1526px 1179px #FFF , 231px 1673px #FFF , 243px 1242px #FFF , 223px 32px #FFF , 1941px 253px #FFF , 678px 985px #FFF , 384px 228px #FFF , 117px 913px #FFF , 1169px 725px #FFF , 1139px 456px #FFF , 822px 1797px #FFF , 44px 1050px #FFF , 1360px 1611px #FFF , 233px 1234px #FFF , 285px 886px #FFF , 628px 334px #FFF , 635px 1898px #FFF , 415px 1701px #FFF , 1978px 810px #FFF , 1149px 945px #FFF , 1493px 1471px #FFF , 54px 954px #FFF , 561px 628px #FFF , 1596px 566px #FFF , 1269px 156px #FFF , 56px 1090px #FFF , 1745px 557px #FFF , 330px 2px #FFF , 848px 323px #FFF , 938px 789px #FFF , 712px 1443px #FFF , 1824px 1727px #FFF , 265px 787px #FFF , 518px 496px #FFF , 110px 946px #FFF , 1599px 325px #FFF , 1522px 1102px #FFF , 996px 1398px #FFF , 29px 538px #FFF , 1810px 1523px #FFF , 834px 513px #FFF , 119px 149px #FFF , 585px 387px #FFF , 920px 1206px #FFF , 1625px 446px #FFF , 1913px 946px #FFF , 17px 1496px #FFF , 1073px 232px #FFF , 1531px 1753px #FFF , 1026px 1097px #FFF , 1482px 153px #FFF , 1114px 1631px #FFF , 594px 684px #FFF , 426px 1130px #FFF , 277px 822px #FFF , 1798px 948px #FFF , 342px 1874px #FFF , 1570px 197px #FFF , 413px 1521px #FFF , 1177px 1382px #FFF , 1060px 1136px #FFF , 1080px 1100px #FFF , 1294px 1068px #FFF , 1434px 690px #FFF , 706px 1993px #FFF , 566px 17px #FFF , 901px 627px #FFF , 1837px 1342px #FFF , 1854px 1674px #FFF , 1784px 487px #FFF , 721px 1692px #FFF , 1205px 221px #FFF , 1935px 492px #FFF , 1642px 378px #FFF , 1974px 36px #FFF , 335px 1774px #FFF , 864px 251px #FFF , 613px 1263px #FFF , 964px 101px #FFF , 602px 429px #FFF , 237px 208px #FFF , 1236px 1052px #FFF , 684px 607px #FFF , 117px 1202px #FFF , 104px 594px #FFF , 17px 664px #FFF , 1893px 1062px #FFF , 1942px 1877px #FFF , 496px 1369px #FFF , 1104px 1518px #FFF , 1402px 800px #FFF , 1672px 673px #FFF , 1404px 331px #FFF , 1545px 1293px #FFF , 436px 1249px #FFF , 449px 118px #FFF , 1696px 1516px #FFF , 1741px 13px #FFF , 1886px 828px #FFF , 1321px 72px #FFF , 1014px 656px #FFF , 83px 194px #FFF , 725px 1528px #FFF , 345px 570px #FFF , 1260px 1892px #FFF , 1304px 1747px #FFF , 660px 705px #FFF , 816px 1132px #FFF , 570px 1841px #FFF , 1149px 565px #FFF , 812px 1219px #FFF , 392px 1586px #FFF , 1625px 1527px #FFF , 1262px 173px #FFF , 1860px 401px #FFF , 1246px 59px #FFF , 411px 1442px #FFF , 820px 2px #FFF , 1223px 1200px #FFF , 1888px 422px #FFF , 1188px 1124px #FFF , 1470px 50px #FFF , 25px 241px #FFF , 1914px 1852px #FFF , 1078px 46px #FFF , 979px 91px #FFF , 1132px 805px #FFF , 840px 1890px #FFF , 918px 1205px #FFF , 222px 698px #FFF , 568px 138px #FFF , 758px 1165px #FFF , 1431px 1415px #FFF , 1329px 144px #FFF , 517px 553px #FFF , 1177px 189px #FFF , 786px 1974px #FFF , 190px 778px #FFF , 1695px 1520px #FFF , 1952px 296px #FFF , 1909px 48px #FFF , 1669px 1637px #FFF , 1011px 1435px #FFF , 1485px 486px #FFF , 502px 700px #FFF , 1111px 594px #FFF , 1431px 1501px #FFF , 560px 1538px #FFF , 1104px 919px #FFF , 1816px 1412px #FFF , 1374px 1838px #FFF , 600px 1706px #FFF , 1249px 1037px #FFF , 1339px 1472px #FFF , 1185px 358px #FFF , 320px 929px #FFF , 1085px 144px #FFF , 1516px 1939px #FFF , 1847px 730px #FFF , 1414px 1872px #FFF , 1585px 1330px #FFF , 1281px 1690px #FFF , 1581px 480px #FFF , 1204px 779px #FFF , 1630px 411px #FFF , 430px 1102px #FFF , 184px 1236px #FFF , 736px 1459px #FFF , 691px 1955px #FFF , 541px 1164px #FFF , 415px 1441px #FFF , 7px 533px #FFF , 1180px 1478px #FFF , 1017px 1126px #FFF , 1276px 606px #FFF , 339px 1052px #FFF , 1281px 952px #FFF , 949px 1904px #FFF , 61px 838px #FFF , 1428px 443px #FFF , 449px 1065px #FFF , 1866px 1170px #FFF , 1565px 989px #FFF , 804px 1806px #FFF , 543px 1448px #FFF , 1451px 32px #FFF , 726px 606px #FFF , 569px 636px #FFF , 61px 1000px #FFF , 621px 486px #FFF , 194px 988px #FFF , 4px 1392px #FFF , 703px 521px #FFF , 1894px 1007px #FFF , 1116px 1469px #FFF , 1526px 489px #FFF , 1813px 1134px #FFF , 400px 1828px #FFF , 528px 222px #FFF , 349px 529px #FFF , 60px 201px #FFF , 660px 1360px #FFF , 231px 206px #FFF , 1586px 394px #FFF , 421px 1298px #FFF , 137px 905px #FFF , 969px 313px #FFF , 1502px 601px #FFF , 139px 629px #FFF , 1282px 1823px #FFF , 446px 1180px #FFF , 161px 1086px #FFF , 170px 1479px #FFF , 1732px 1719px #FFF , 778px 892px #FFF , 769px 1716px #FFF , 1019px 753px #FFF , 1058px 647px #FFF , 1768px 935px #FFF , 1306px 1714px #FFF , 1219px 29px #FFF , 637px 1920px #FFF , 897px 1638px #FFF , 1013px 367px #FFF , 1958px 1796px #FFF , 591px 1324px #FFF , 699px 1945px #FFF , 70px 1387px #FFF , 18px 982px #FFF , 103px 1774px #FFF , 1597px 1010px #FFF , 1775px 1766px #FFF , 93px 319px #FFF , 20px 417px #FFF , 969px 1778px #FFF , 738px 1045px #FFF , 1194px 1461px #FFF , 1511px 1884px #FFF , 1229px 988px #FFF , 1440px 1490px #FFF , 28px 1615px #FFF , 746px 917px #FFF , 1817px 1058px #FFF , 583px 1507px #FFF , 740px 1947px #FFF , 956px 1665px #FFF , 1598px 1591px #FFF , 406px 429px #FFF , 80px 860px #FFF , 1980px 1870px #FFF , 545px 464px #FFF , 1970px 905px #FFF , 982px 389px #FFF , 1896px 1030px #FFF , 378px 781px #FFF , 1259px 416px #FFF , 95px 784px #FFF , 1539px 536px #FFF , 1127px 138px #FFF , 763px 410px #FFF , 1539px 1653px #FFF , 4px 1448px #FFF , 877px 102px #FFF , 482px 317px #FFF , 1436px 127px #FFF , 421px 738px #FFF , 1386px 1070px #FFF , 1333px 1090px #FFF , 1772px 657px #FFF , 911px 548px #FFF , 1500px 140px #FFF , 1019px 1876px #FFF , 1078px 1794px #FFF , 1300px 1878px #FFF , 507px 1884px #FFF , 1207px 190px #FFF , 1471px 1275px #FFF , 1975px 1898px #FFF , 57px 1733px #FFF , 1779px 45px #FFF , 1246px 421px #FFF , 1247px 1835px #FFF , 676px 247px #FFF , 541px 1506px #FFF , 1162px 1551px #FFF , 1987px 58px #FFF , 1066px 1818px #FFF , 1158px 1969px #FFF , 149px 862px #FFF , 1372px 1410px #FFF , 171px 489px #FFF , 810px 34px #FFF , 1557px 1297px #FFF , 151px 1091px #FFF , 251px 183px #FFF , 1316px 1462px #FFF , 801px 1246px #FFF , 1919px 1536px #FFF , 16px 1199px #FFF , 1008px 100px #FFF , 1532px 207px #FFF , 792px 679px #FFF , 194px 173px #FFF , 1806px 1174px #FFF , 1676px 1225px #FFF , 717px 1754px #FFF , 1686px 1601px #FFF , 56px 1100px #FFF , 852px 294px #FFF , 1423px 1726px #FFF , 1270px 1318px #FFF , 631px 1379px #FFF , 134px 934px #FFF , 1210px 1410px #FFF , 1876px 1318px #FFF , 1072px 169px #FFF , 960px 1351px #FFF , 1909px 692px #FFF , 478px 271px #FFF , 24px 1399px #FFF , 1668px 288px #FFF , 844px 753px #FFF , 1359px 274px #FFF , 1872px 896px #FFF , 885px 1102px #FFF , 5px 747px #FFF , 690px 563px #FFF , 849px 1826px #FFF , 225px 65px #FFF , 1007px 1912px #FFF , 531px 369px #FFF , 1537px 362px #FFF , 1455px 1467px #FFF , 549px 1619px #FFF , 1234px 1728px #FFF , 897px 664px #FFF , 881px 182px #FFF , 800px 528px #FFF , 253px 1100px #FFF , 1765px 1961px #FFF , 1302px 700px #FFF , 304px 215px #FFF , 1401px 1824px #FFF , 253px 1325px #FFF , 987px 317px #FFF , 568px 1687px #FFF , 579px 361px #FFF , 61px 176px #FFF , 428px 1430px #FFF , 277px 70px #FFF , 145px 549px #FFF , 288px 335px #FFF , 1515px 1500px #FFF , 1507px 1681px #FFF , 424px 1907px #FFF , 1240px 1412px #FFF , 1716px 431px #FFF , 636px 1331px #FFF , 101px 658px #FFF , 1238px 1213px #FFF , 379px 266px #FFF , 321px 1566px #FFF , 584px 617px #FFF , 1025px 1494px #FFF , 1059px 1595px #FFF , 595px 627px #FFF , 77px 1107px #FFF , 88px 1562px #FFF , 1114px 495px #FFF , 692px 1291px #FFF , 1897px 551px #FFF , 86px 1927px #FFF , 528px 988px #FFF , 1598px 1753px #FFF , 587px 1305px #FFF , 1150px 1155px #FFF , 739px 922px #FFF , 419px 1455px #FFF , 775px 1559px #FFF , 1499px 1617px #FFF , 1287px 147px #FFF , 1436px 1516px #FFF , 1200px 1179px #FFF , 1548px 185px #FFF , 443px 1548px #FFF , 1943px 1980px #FFF , 903px 1862px #FFF , 932px 1419px #FFF , 1738px 1440px #FFF , 123px 1350px #FFF , 731px 320px #FFF , 1569px 1604px #FFF , 1386px 367px #FFF , 1556px 1337px #FFF , 1422px 1848px #FFF , 1273px 617px #FFF , 440px 1902px #FFF , 1360px 1383px #FFF , 1576px 1703px #FFF , 99px 1505px #FFF , 512px 1534px #FFF , 824px 639px #FFF , 1694px 1940px #FFF , 1748px 1067px #FFF , 329px 133px #FFF , 1565px 1214px #FFF , 1391px 697px #FFF , 1830px 1820px #FFF , 161px 1131px #FFF , 412px 1905px #FFF , 1218px 117px #FFF , 1563px 1469px #FFF , 1708px 50px #FFF , 1187px 296px #FFF;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 371px 16px #FFF , 1443px 19px #FFF , 538px 348px #FFF , 1532px 1483px #FFF , 1364px 981px #FFF , 1972px 1514px #FFF , 695px 792px #FFF , 438px 879px #FFF , 1525px 1683px #FFF , 59px 338px #FFF , 1947px 1392px #FFF , 1166px 1922px #FFF , 1515px 1740px #FFF , 1503px 434px #FFF , 48px 1061px #FFF , 264px 484px #FFF , 1102px 455px #FFF , 1690px 1694px #FFF , 1208px 1070px #FFF , 31px 1461px #FFF , 897px 857px #FFF , 1136px 1149px #FFF , 164px 1063px #FFF , 336px 1507px #FFF , 290px 1036px #FFF , 859px 1333px #FFF , 140px 910px #FFF , 96px 1676px #FFF , 1851px 176px #FFF , 680px 1219px #FFF , 372px 1711px #FFF , 1411px 1966px #FFF , 1049px 444px #FFF , 157px 1260px #FFF , 1231px 1789px #FFF , 1905px 67px #FFF , 14px 587px #FFF , 1927px 476px #FFF , 832px 589px #FFF , 1849px 1563px #FFF , 1959px 822px #FFF , 1805px 1032px #FFF , 535px 848px #FFF , 515px 747px #FFF , 1076px 359px #FFF , 1383px 114px #FFF , 561px 1766px #FFF , 790px 1689px #FFF , 1704px 457px #FFF , 941px 1578px #FFF , 1572px 436px #FFF , 88px 1851px #FFF , 718px 315px #FFF , 1273px 1872px #FFF , 647px 1508px #FFF , 38px 8px #FFF , 734px 625px #FFF , 1021px 703px #FFF , 1894px 714px #FFF , 540px 1881px #FFF , 442px 462px #FFF , 843px 699px #FFF , 1537px 1609px #FFF , 879px 826px #FFF , 1903px 1470px #FFF , 994px 1420px #FFF , 605px 1383px #FFF , 1149px 382px #FFF , 447px 508px #FFF , 1785px 195px #FFF , 1688px 1058px #FFF , 555px 1223px #FFF , 74px 764px #FFF , 707px 1484px #FFF , 1869px 1129px #FFF , 1926px 518px #FFF , 34px 493px #FFF , 370px 1969px #FFF , 1767px 1296px #FFF , 55px 611px #FFF , 600px 1800px #FFF , 1912px 489px #FFF , 947px 235px #FFF , 1297px 1329px #FFF , 59px 1401px #FFF , 1912px 1722px #FFF , 1566px 830px #FFF , 676px 726px #FFF , 268px 60px #FFF , 1853px 1784px #FFF , 356px 259px #FFF , 825px 415px #FFF , 74px 946px #FFF , 1537px 1286px #FFF , 278px 1874px #FFF , 1526px 1409px #FFF , 1757px 420px #FFF , 371px 1391px #FFF , 1491px 749px #FFF , 1128px 121px #FFF , 1614px 1511px #FFF , 991px 11px #FFF , 1064px 720px #FFF , 1272px 1268px #FFF , 1216px 1138px #FFF , 1201px 1641px #FFF , 1349px 752px #FFF , 147px 266px #FFF , 716px 607px #FFF , 730px 1530px #FFF , 588px 1451px #FFF , 1965px 108px #FFF , 878px 604px #FFF , 18px 489px #FFF , 1234px 1263px #FFF , 1118px 907px #FFF , 218px 536px #FFF , 454px 1264px #FFF , 108px 1649px #FFF , 1070px 1896px #FFF , 930px 1568px #FFF , 949px 634px #FFF , 730px 1782px #FFF , 1973px 1133px #FFF , 658px 519px #FFF , 1103px 678px #FFF , 1495px 1204px #FFF , 1855px 1991px #FFF , 1131px 916px #FFF , 48px 1375px #FFF , 336px 1066px #FFF , 1157px 1208px #FFF , 393px 767px #FFF , 1025px 173px #FFF , 681px 355px #FFF , 1007px 549px #FFF , 645px 339px #FFF , 415px 295px #FFF , 1708px 206px #FFF , 1899px 803px #FFF , 1656px 951px #FFF , 679px 11px #FFF , 1280px 1133px #FFF , 1077px 234px #FFF , 1002px 690px #FFF , 1227px 1260px #FFF , 134px 720px #FFF , 1644px 767px #FFF , 1440px 1407px #FFF , 816px 9px #FFF , 1828px 1736px #FFF , 236px 312px #FFF , 939px 1162px #FFF , 1832px 1073px #FFF , 726px 174px #FFF , 125px 1124px #FFF , 362px 976px #FFF , 203px 824px #FFF , 1791px 1377px #FFF , 348px 550px #FFF , 1624px 185px #FFF , 1413px 678px #FFF , 1822px 612px #FFF , 1174px 1205px #FFF , 144px 566px #FFF , 1670px 316px #FFF , 1664px 228px #FFF , 308px 573px #FFF , 1740px 107px #FFF , 1853px 1646px #FFF , 392px 568px #FFF , 1494px 1692px #FFF , 336px 1455px #FFF , 1577px 1795px #FFF , 184px 1000px #FFF , 703px 479px #FFF , 326px 1251px #FFF , 1309px 980px #FFF , 1395px 84px #FFF , 430px 245px #FFF , 2000px 917px #FFF , 701px 1238px #FFF , 1180px 573px #FFF , 1332px 232px #FFF , 1716px 915px #FFF , 644px 883px #FFF , 1760px 734px #FFF , 1351px 1309px #FFF , 1469px 1852px #FFF , 664px 572px #FFF , 1460px 1192px #FFF , 308px 1141px #FFF , 62px 1057px #FFF , 417px 938px #FFF , 1445px 1989px #FFF , 1588px 100px #FFF , 1526px 1521px #FFF , 1847px 1501px #FFF , 1830px 1739px #FFF , 118px 1812px #FFF , 488px 996px #FFF , 86px 775px #FFF , 612px 117px #FFF , 211px 491px #FFF , 1551px 372px #FFF , 591px 1847px #FFF , 609px 712px #FFF , 820px 984px #FFF , 952px 1458px #FFF , 92px 497px #FFF , 1804px 1788px #FFF , 369px 1113px #FFF , 757px 225px #FFF , 385px 945px #FFF , 810px 16px #FFF , 223px 902px #FFF , 533px 433px #FFF , 672px 1224px #FFF , 589px 1723px #FFF , 481px 1468px #FFF , 299px 1549px #FFF , 1266px 1276px #FFF , 696px 1349px #FFF , 551px 1324px #FFF , 1280px 696px #FFF , 1722px 1797px #FFF , 808px 812px #FFF , 1864px 770px #FFF , 1237px 1334px #FFF , 1283px 952px #FFF , 514px 1900px #FFF , 1109px 899px #FFF , 1007px 985px #FFF , 7px 238px #FFF , 821px 869px #FFF , 1142px 1262px #FFF , 289px 1224px #FFF , 1071px 352px #FFF , 1822px 916px #FFF , 418px 157px #FFF , 619px 578px #FFF , 549px 1367px #FFF , 494px 181px #FFF , 1698px 1297px #FFF , 1486px 325px #FFF , 79px 1060px #FFF , 1519px 1467px #FFF , 779px 738px #FFF , 744px 863px #FFF , 1340px 75px #FFF , 1577px 1687px #FFF , 1352px 266px #FFF , 1156px 343px #FFF , 435px 1746px #FFF , 118px 1369px #FFF , 356px 1294px #FFF , 325px 1651px #FFF , 741px 1665px #FFF , 341px 1378px #FFF , 1325px 304px #FFF , 991px 1027px #FFF , 830px 1450px #FFF , 1956px 1915px #FFF , 867px 779px #FFF , 674px 1115px #FFF , 1693px 1306px #FFF , 1506px 894px #FFF , 327px 673px #FFF , 1365px 699px #FFF , 381px 1824px #FFF , 1533px 1636px #FFF , 307px 983px #FFF , 1388px 991px #FFF , 356px 556px #FFF , 490px 396px #FFF , 1637px 973px #FFF , 825px 452px #FFF , 691px 1344px #FFF , 642px 1150px #FFF , 962px 1349px #FFF , 526px 558px #FFF , 1433px 1572px #FFF , 1924px 1574px #FFF , 1937px 696px #FFF , 486px 397px #FFF , 1212px 225px #FFF , 1526px 1179px #FFF , 231px 1673px #FFF , 243px 1242px #FFF , 223px 32px #FFF , 1941px 253px #FFF , 678px 985px #FFF , 384px 228px #FFF , 117px 913px #FFF , 1169px 725px #FFF , 1139px 456px #FFF , 822px 1797px #FFF , 44px 1050px #FFF , 1360px 1611px #FFF , 233px 1234px #FFF , 285px 886px #FFF , 628px 334px #FFF , 635px 1898px #FFF , 415px 1701px #FFF , 1978px 810px #FFF , 1149px 945px #FFF , 1493px 1471px #FFF , 54px 954px #FFF , 561px 628px #FFF , 1596px 566px #FFF , 1269px 156px #FFF , 56px 1090px #FFF , 1745px 557px #FFF , 330px 2px #FFF , 848px 323px #FFF , 938px 789px #FFF , 712px 1443px #FFF , 1824px 1727px #FFF , 265px 787px #FFF , 518px 496px #FFF , 110px 946px #FFF , 1599px 325px #FFF , 1522px 1102px #FFF , 996px 1398px #FFF , 29px 538px #FFF , 1810px 1523px #FFF , 834px 513px #FFF , 119px 149px #FFF , 585px 387px #FFF , 920px 1206px #FFF , 1625px 446px #FFF , 1913px 946px #FFF , 17px 1496px #FFF , 1073px 232px #FFF , 1531px 1753px #FFF , 1026px 1097px #FFF , 1482px 153px #FFF , 1114px 1631px #FFF , 594px 684px #FFF , 426px 1130px #FFF , 277px 822px #FFF , 1798px 948px #FFF , 342px 1874px #FFF , 1570px 197px #FFF , 413px 1521px #FFF , 1177px 1382px #FFF , 1060px 1136px #FFF , 1080px 1100px #FFF , 1294px 1068px #FFF , 1434px 690px #FFF , 706px 1993px #FFF , 566px 17px #FFF , 901px 627px #FFF , 1837px 1342px #FFF , 1854px 1674px #FFF , 1784px 487px #FFF , 721px 1692px #FFF , 1205px 221px #FFF , 1935px 492px #FFF , 1642px 378px #FFF , 1974px 36px #FFF , 335px 1774px #FFF , 864px 251px #FFF , 613px 1263px #FFF , 964px 101px #FFF , 602px 429px #FFF , 237px 208px #FFF , 1236px 1052px #FFF , 684px 607px #FFF , 117px 1202px #FFF , 104px 594px #FFF , 17px 664px #FFF , 1893px 1062px #FFF , 1942px 1877px #FFF , 496px 1369px #FFF , 1104px 1518px #FFF , 1402px 800px #FFF , 1672px 673px #FFF , 1404px 331px #FFF , 1545px 1293px #FFF , 436px 1249px #FFF , 449px 118px #FFF , 1696px 1516px #FFF , 1741px 13px #FFF , 1886px 828px #FFF , 1321px 72px #FFF , 1014px 656px #FFF , 83px 194px #FFF , 725px 1528px #FFF , 345px 570px #FFF , 1260px 1892px #FFF , 1304px 1747px #FFF , 660px 705px #FFF , 816px 1132px #FFF , 570px 1841px #FFF , 1149px 565px #FFF , 812px 1219px #FFF , 392px 1586px #FFF , 1625px 1527px #FFF , 1262px 173px #FFF , 1860px 401px #FFF , 1246px 59px #FFF , 411px 1442px #FFF , 820px 2px #FFF , 1223px 1200px #FFF , 1888px 422px #FFF , 1188px 1124px #FFF , 1470px 50px #FFF , 25px 241px #FFF , 1914px 1852px #FFF , 1078px 46px #FFF , 979px 91px #FFF , 1132px 805px #FFF , 840px 1890px #FFF , 918px 1205px #FFF , 222px 698px #FFF , 568px 138px #FFF , 758px 1165px #FFF , 1431px 1415px #FFF , 1329px 144px #FFF , 517px 553px #FFF , 1177px 189px #FFF , 786px 1974px #FFF , 190px 778px #FFF , 1695px 1520px #FFF , 1952px 296px #FFF , 1909px 48px #FFF , 1669px 1637px #FFF , 1011px 1435px #FFF , 1485px 486px #FFF , 502px 700px #FFF , 1111px 594px #FFF , 1431px 1501px #FFF , 560px 1538px #FFF , 1104px 919px #FFF , 1816px 1412px #FFF , 1374px 1838px #FFF , 600px 1706px #FFF , 1249px 1037px #FFF , 1339px 1472px #FFF , 1185px 358px #FFF , 320px 929px #FFF , 1085px 144px #FFF , 1516px 1939px #FFF , 1847px 730px #FFF , 1414px 1872px #FFF , 1585px 1330px #FFF , 1281px 1690px #FFF , 1581px 480px #FFF , 1204px 779px #FFF , 1630px 411px #FFF , 430px 1102px #FFF , 184px 1236px #FFF , 736px 1459px #FFF , 691px 1955px #FFF , 541px 1164px #FFF , 415px 1441px #FFF , 7px 533px #FFF , 1180px 1478px #FFF , 1017px 1126px #FFF , 1276px 606px #FFF , 339px 1052px #FFF , 1281px 952px #FFF , 949px 1904px #FFF , 61px 838px #FFF , 1428px 443px #FFF , 449px 1065px #FFF , 1866px 1170px #FFF , 1565px 989px #FFF , 804px 1806px #FFF , 543px 1448px #FFF , 1451px 32px #FFF , 726px 606px #FFF , 569px 636px #FFF , 61px 1000px #FFF , 621px 486px #FFF , 194px 988px #FFF , 4px 1392px #FFF , 703px 521px #FFF , 1894px 1007px #FFF , 1116px 1469px #FFF , 1526px 489px #FFF , 1813px 1134px #FFF , 400px 1828px #FFF , 528px 222px #FFF , 349px 529px #FFF , 60px 201px #FFF , 660px 1360px #FFF , 231px 206px #FFF , 1586px 394px #FFF , 421px 1298px #FFF , 137px 905px #FFF , 969px 313px #FFF , 1502px 601px #FFF , 139px 629px #FFF , 1282px 1823px #FFF , 446px 1180px #FFF , 161px 1086px #FFF , 170px 1479px #FFF , 1732px 1719px #FFF , 778px 892px #FFF , 769px 1716px #FFF , 1019px 753px #FFF , 1058px 647px #FFF , 1768px 935px #FFF , 1306px 1714px #FFF , 1219px 29px #FFF , 637px 1920px #FFF , 897px 1638px #FFF , 1013px 367px #FFF , 1958px 1796px #FFF , 591px 1324px #FFF , 699px 1945px #FFF , 70px 1387px #FFF , 18px 982px #FFF , 103px 1774px #FFF , 1597px 1010px #FFF , 1775px 1766px #FFF , 93px 319px #FFF , 20px 417px #FFF , 969px 1778px #FFF , 738px 1045px #FFF , 1194px 1461px #FFF , 1511px 1884px #FFF , 1229px 988px #FFF , 1440px 1490px #FFF , 28px 1615px #FFF , 746px 917px #FFF , 1817px 1058px #FFF , 583px 1507px #FFF , 740px 1947px #FFF , 956px 1665px #FFF , 1598px 1591px #FFF , 406px 429px #FFF , 80px 860px #FFF , 1980px 1870px #FFF , 545px 464px #FFF , 1970px 905px #FFF , 982px 389px #FFF , 1896px 1030px #FFF , 378px 781px #FFF , 1259px 416px #FFF , 95px 784px #FFF , 1539px 536px #FFF , 1127px 138px #FFF , 763px 410px #FFF , 1539px 1653px #FFF , 4px 1448px #FFF , 877px 102px #FFF , 482px 317px #FFF , 1436px 127px #FFF , 421px 738px #FFF , 1386px 1070px #FFF , 1333px 1090px #FFF , 1772px 657px #FFF , 911px 548px #FFF , 1500px 140px #FFF , 1019px 1876px #FFF , 1078px 1794px #FFF , 1300px 1878px #FFF , 507px 1884px #FFF , 1207px 190px #FFF , 1471px 1275px #FFF , 1975px 1898px #FFF , 57px 1733px #FFF , 1779px 45px #FFF , 1246px 421px #FFF , 1247px 1835px #FFF , 676px 247px #FFF , 541px 1506px #FFF , 1162px 1551px #FFF , 1987px 58px #FFF , 1066px 1818px #FFF , 1158px 1969px #FFF , 149px 862px #FFF , 1372px 1410px #FFF , 171px 489px #FFF , 810px 34px #FFF , 1557px 1297px #FFF , 151px 1091px #FFF , 251px 183px #FFF , 1316px 1462px #FFF , 801px 1246px #FFF , 1919px 1536px #FFF , 16px 1199px #FFF , 1008px 100px #FFF , 1532px 207px #FFF , 792px 679px #FFF , 194px 173px #FFF , 1806px 1174px #FFF , 1676px 1225px #FFF , 717px 1754px #FFF , 1686px 1601px #FFF , 56px 1100px #FFF , 852px 294px #FFF , 1423px 1726px #FFF , 1270px 1318px #FFF , 631px 1379px #FFF , 134px 934px #FFF , 1210px 1410px #FFF , 1876px 1318px #FFF , 1072px 169px #FFF , 960px 1351px #FFF , 1909px 692px #FFF , 478px 271px #FFF , 24px 1399px #FFF , 1668px 288px #FFF , 844px 753px #FFF , 1359px 274px #FFF , 1872px 896px #FFF , 885px 1102px #FFF , 5px 747px #FFF , 690px 563px #FFF , 849px 1826px #FFF , 225px 65px #FFF , 1007px 1912px #FFF , 531px 369px #FFF , 1537px 362px #FFF , 1455px 1467px #FFF , 549px 1619px #FFF , 1234px 1728px #FFF , 897px 664px #FFF , 881px 182px #FFF , 800px 528px #FFF , 253px 1100px #FFF , 1765px 1961px #FFF , 1302px 700px #FFF , 304px 215px #FFF , 1401px 1824px #FFF , 253px 1325px #FFF , 987px 317px #FFF , 568px 1687px #FFF , 579px 361px #FFF , 61px 176px #FFF , 428px 1430px #FFF , 277px 70px #FFF , 145px 549px #FFF , 288px 335px #FFF , 1515px 1500px #FFF , 1507px 1681px #FFF , 424px 1907px #FFF , 1240px 1412px #FFF , 1716px 431px #FFF , 636px 1331px #FFF , 101px 658px #FFF , 1238px 1213px #FFF , 379px 266px #FFF , 321px 1566px #FFF , 584px 617px #FFF , 1025px 1494px #FFF , 1059px 1595px #FFF , 595px 627px #FFF , 77px 1107px #FFF , 88px 1562px #FFF , 1114px 495px #FFF , 692px 1291px #FFF , 1897px 551px #FFF , 86px 1927px #FFF , 528px 988px #FFF , 1598px 1753px #FFF , 587px 1305px #FFF , 1150px 1155px #FFF , 739px 922px #FFF , 419px 1455px #FFF , 775px 1559px #FFF , 1499px 1617px #FFF , 1287px 147px #FFF , 1436px 1516px #FFF , 1200px 1179px #FFF , 1548px 185px #FFF , 443px 1548px #FFF , 1943px 1980px #FFF , 903px 1862px #FFF , 932px 1419px #FFF , 1738px 1440px #FFF , 123px 1350px #FFF , 731px 320px #FFF , 1569px 1604px #FFF , 1386px 367px #FFF , 1556px 1337px #FFF , 1422px 1848px #FFF , 1273px 617px #FFF , 440px 1902px #FFF , 1360px 1383px #FFF , 1576px 1703px #FFF , 99px 1505px #FFF , 512px 1534px #FFF , 824px 639px #FFF , 1694px 1940px #FFF , 1748px 1067px #FFF , 329px 133px #FFF , 1565px 1214px #FFF , 1391px 697px #FFF , 1830px 1820px #FFF , 161px 1131px #FFF , 412px 1905px #FFF , 1218px 117px #FFF , 1563px 1469px #FFF , 1708px 50px #FFF , 1187px 296px #FFF;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 155px 971px #FFF , 1755px 546px #FFF , 588px 819px #FFF , 1552px 715px #FFF , 1434px 1233px #FFF , 1809px 208px #FFF , 64px 876px #FFF , 936px 1427px #FFF , 1290px 1493px #FFF , 321px 404px #FFF , 191px 1820px #FFF , 28px 956px #FFF , 1126px 387px #FFF , 1876px 94px #FFF , 601px 1077px #FFF , 1973px 3px #FFF , 17px 1177px #FFF , 1406px 166px #FFF , 227px 1491px #FFF , 1960px 876px #FFF , 787px 1294px #FFF , 1176px 1541px #FFF , 1305px 638px #FFF , 1288px 1909px #FFF , 1763px 336px #FFF , 188px 763px #FFF , 1551px 1225px #FFF , 532px 1919px #FFF , 1902px 1382px #FFF , 880px 747px #FFF , 283px 1508px #FFF , 755px 1742px #FFF , 1451px 1270px #FFF , 26px 440px #FFF , 26px 1266px #FFF , 1286px 508px #FFF , 1680px 1866px #FFF , 1828px 407px #FFF , 1146px 137px #FFF , 554px 243px #FFF , 78px 648px #FFF , 524px 1056px #FFF , 979px 1242px #FFF , 1929px 987px #FFF , 364px 251px #FFF , 914px 1758px #FFF , 787px 738px #FFF , 634px 1642px #FFF , 1264px 1698px #FFF , 1486px 1914px #FFF , 1971px 124px #FFF , 1187px 234px #FFF , 530px 70px #FFF , 895px 568px #FFF , 130px 1068px #FFF , 1356px 170px #FFF , 945px 12px #FFF , 150px 504px #FFF , 319px 470px #FFF , 1085px 1059px #FFF , 1094px 1002px #FFF , 368px 770px #FFF , 460px 1860px #FFF , 1258px 1594px #FFF , 649px 1296px #FFF , 1289px 130px #FFF , 956px 833px #FFF , 430px 496px #FFF , 1259px 1396px #FFF , 1387px 1879px #FFF , 566px 529px #FFF , 1482px 1348px #FFF , 1951px 384px #FFF , 1802px 121px #FFF , 1377px 1766px #FFF , 1039px 944px #FFF , 1908px 877px #FFF , 1648px 1457px #FFF , 1782px 1779px #FFF , 1442px 1916px #FFF , 908px 1248px #FFF , 639px 328px #FFF , 809px 116px #FFF , 1014px 10px #FFF , 905px 905px #FFF , 1178px 239px #FFF , 1133px 1850px #FFF , 67px 399px #FFF , 908px 944px #FFF , 316px 1429px #FFF , 1800px 1608px #FFF , 334px 424px #FFF , 1877px 1216px #FFF , 1084px 342px #FFF , 743px 76px #FFF , 510px 1359px #FFF , 1882px 1561px #FFF , 818px 1231px #FFF , 1046px 239px #FFF , 841px 1410px #FFF , 580px 1158px #FFF , 138px 1947px #FFF , 1833px 1396px #FFF , 754px 843px #FFF , 1901px 724px #FFF , 1155px 1359px #FFF , 1550px 1085px #FFF , 498px 1382px #FFF , 64px 790px #FFF , 137px 1473px #FFF , 1775px 741px #FFF , 198px 1941px #FFF , 1700px 1549px #FFF , 1625px 577px #FFF , 367px 1647px #FFF , 1546px 135px #FFF , 1033px 1023px #FFF , 101px 359px #FFF , 215px 1936px #FFF , 1269px 738px #FFF , 905px 1903px #FFF , 1974px 1074px #FFF , 1476px 1633px #FFF , 1712px 236px #FFF , 100px 207px #FFF , 1506px 87px #FFF , 486px 1636px #FFF , 747px 1081px #FFF , 1981px 398px #FFF , 1793px 1577px #FFF , 747px 639px #FFF , 414px 388px #FFF , 868px 509px #FFF , 299px 748px #FFF , 1853px 1496px #FFF , 907px 1367px #FFF , 1168px 679px #FFF , 489px 1766px #FFF , 388px 755px #FFF , 1140px 529px #FFF , 1796px 1066px #FFF , 1099px 635px #FFF , 1568px 1882px #FFF , 1578px 772px #FFF , 1266px 1309px #FFF , 281px 294px #FFF , 1385px 476px #FFF , 842px 364px #FFF , 1214px 214px #FFF , 443px 507px #FFF , 1230px 1662px #FFF , 1236px 225px #FFF , 1810px 733px #FFF , 1375px 1553px #FFF , 792px 1630px #FFF , 1812px 656px #FFF , 50px 1066px #FFF , 1792px 1232px #FFF , 72px 1188px #FFF , 873px 617px #FFF , 303px 258px #FFF , 1687px 522px #FFF , 407px 100px #FFF , 1045px 1065px #FFF , 108px 41px #FFF , 1766px 1826px #FFF , 1421px 289px #FFF , 1132px 382px #FFF , 1033px 181px #FFF , 51px 278px #FFF , 1217px 1954px #FFF , 422px 1347px #FFF , 1923px 1679px #FFF , 1959px 616px #FFF , 1825px 292px #FFF , 79px 1367px #FFF , 1109px 1398px #FFF , 1026px 29px #FFF , 801px 65px #FFF , 678px 1327px #FFF , 1659px 846px #FFF , 1857px 599px #FFF , 887px 241px #FFF , 61px 305px #FFF , 1548px 419px #FFF , 869px 1716px #FFF , 1295px 8px #FFF , 1489px 416px #FFF , 511px 673px #FFF , 1508px 880px #FFF , 1324px 362px #FFF , 1769px 1929px #FFF , 1824px 1493px #FFF , 203px 809px #FFF , 1531px 1668px #FFF , 289px 869px #FFF , 1706px 1405px #FFF , 662px 393px #FFF , 437px 1289px #FFF , 1582px 270px #FFF;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 155px 971px #FFF , 1755px 546px #FFF , 588px 819px #FFF , 1552px 715px #FFF , 1434px 1233px #FFF , 1809px 208px #FFF , 64px 876px #FFF , 936px 1427px #FFF , 1290px 1493px #FFF , 321px 404px #FFF , 191px 1820px #FFF , 28px 956px #FFF , 1126px 387px #FFF , 1876px 94px #FFF , 601px 1077px #FFF , 1973px 3px #FFF , 17px 1177px #FFF , 1406px 166px #FFF , 227px 1491px #FFF , 1960px 876px #FFF , 787px 1294px #FFF , 1176px 1541px #FFF , 1305px 638px #FFF , 1288px 1909px #FFF , 1763px 336px #FFF , 188px 763px #FFF , 1551px 1225px #FFF , 532px 1919px #FFF , 1902px 1382px #FFF , 880px 747px #FFF , 283px 1508px #FFF , 755px 1742px #FFF , 1451px 1270px #FFF , 26px 440px #FFF , 26px 1266px #FFF , 1286px 508px #FFF , 1680px 1866px #FFF , 1828px 407px #FFF , 1146px 137px #FFF , 554px 243px #FFF , 78px 648px #FFF , 524px 1056px #FFF , 979px 1242px #FFF , 1929px 987px #FFF , 364px 251px #FFF , 914px 1758px #FFF , 787px 738px #FFF , 634px 1642px #FFF , 1264px 1698px #FFF , 1486px 1914px #FFF , 1971px 124px #FFF , 1187px 234px #FFF , 530px 70px #FFF , 895px 568px #FFF , 130px 1068px #FFF , 1356px 170px #FFF , 945px 12px #FFF , 150px 504px #FFF , 319px 470px #FFF , 1085px 1059px #FFF , 1094px 1002px #FFF , 368px 770px #FFF , 460px 1860px #FFF , 1258px 1594px #FFF , 649px 1296px #FFF , 1289px 130px #FFF , 956px 833px #FFF , 430px 496px #FFF , 1259px 1396px #FFF , 1387px 1879px #FFF , 566px 529px #FFF , 1482px 1348px #FFF , 1951px 384px #FFF , 1802px 121px #FFF , 1377px 1766px #FFF , 1039px 944px #FFF , 1908px 877px #FFF , 1648px 1457px #FFF , 1782px 1779px #FFF , 1442px 1916px #FFF , 908px 1248px #FFF , 639px 328px #FFF , 809px 116px #FFF , 1014px 10px #FFF , 905px 905px #FFF , 1178px 239px #FFF , 1133px 1850px #FFF , 67px 399px #FFF , 908px 944px #FFF , 316px 1429px #FFF , 1800px 1608px #FFF , 334px 424px #FFF , 1877px 1216px #FFF , 1084px 342px #FFF , 743px 76px #FFF , 510px 1359px #FFF , 1882px 1561px #FFF , 818px 1231px #FFF , 1046px 239px #FFF , 841px 1410px #FFF , 580px 1158px #FFF , 138px 1947px #FFF , 1833px 1396px #FFF , 754px 843px #FFF , 1901px 724px #FFF , 1155px 1359px #FFF , 1550px 1085px #FFF , 498px 1382px #FFF , 64px 790px #FFF , 137px 1473px #FFF , 1775px 741px #FFF , 198px 1941px #FFF , 1700px 1549px #FFF , 1625px 577px #FFF , 367px 1647px #FFF , 1546px 135px #FFF , 1033px 1023px #FFF , 101px 359px #FFF , 215px 1936px #FFF , 1269px 738px #FFF , 905px 1903px #FFF , 1974px 1074px #FFF , 1476px 1633px #FFF , 1712px 236px #FFF , 100px 207px #FFF , 1506px 87px #FFF , 486px 1636px #FFF , 747px 1081px #FFF , 1981px 398px #FFF , 1793px 1577px #FFF , 747px 639px #FFF , 414px 388px #FFF , 868px 509px #FFF , 299px 748px #FFF , 1853px 1496px #FFF , 907px 1367px #FFF , 1168px 679px #FFF , 489px 1766px #FFF , 388px 755px #FFF , 1140px 529px #FFF , 1796px 1066px #FFF , 1099px 635px #FFF , 1568px 1882px #FFF , 1578px 772px #FFF , 1266px 1309px #FFF , 281px 294px #FFF , 1385px 476px #FFF , 842px 364px #FFF , 1214px 214px #FFF , 443px 507px #FFF , 1230px 1662px #FFF , 1236px 225px #FFF , 1810px 733px #FFF , 1375px 1553px #FFF , 792px 1630px #FFF , 1812px 656px #FFF , 50px 1066px #FFF , 1792px 1232px #FFF , 72px 1188px #FFF , 873px 617px #FFF , 303px 258px #FFF , 1687px 522px #FFF , 407px 100px #FFF , 1045px 1065px #FFF , 108px 41px #FFF , 1766px 1826px #FFF , 1421px 289px #FFF , 1132px 382px #FFF , 1033px 181px #FFF , 51px 278px #FFF , 1217px 1954px #FFF , 422px 1347px #FFF , 1923px 1679px #FFF , 1959px 616px #FFF , 1825px 292px #FFF , 79px 1367px #FFF , 1109px 1398px #FFF , 1026px 29px #FFF , 801px 65px #FFF , 678px 1327px #FFF , 1659px 846px #FFF , 1857px 599px #FFF , 887px 241px #FFF , 61px 305px #FFF , 1548px 419px #FFF , 869px 1716px #FFF , 1295px 8px #FFF , 1489px 416px #FFF , 511px 673px #FFF , 1508px 880px #FFF , 1324px 362px #FFF , 1769px 1929px #FFF , 1824px 1493px #FFF , 203px 809px #FFF , 1531px 1668px #FFF , 289px 869px #FFF , 1706px 1405px #FFF , 662px 393px #FFF , 437px 1289px #FFF , 1582px 270px #FFF;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1907px 1611px #FFF , 459px 1445px #FFF , 1293px 1109px #FFF , 1361px 1089px #FFF , 551px 891px #FFF , 587px 1194px #FFF , 152px 1256px #FFF , 1198px 808px #FFF , 1117px 470px #FFF , 909px 1131px #FFF , 295px 185px #FFF , 1464px 505px #FFF , 1146px 1629px #FFF , 1088px 415px #FFF , 565px 705px #FFF , 1506px 625px #FFF , 998px 1321px #FFF , 914px 1597px #FFF , 1061px 1798px #FFF , 524px 285px #FFF , 1357px 576px #FFF , 1968px 969px #FFF , 743px 1944px #FFF , 1951px 1415px #FFF , 398px 1265px #FFF , 1741px 643px #FFF , 1205px 294px #FFF , 174px 26px #FFF , 269px 1039px #FFF , 217px 588px #FFF , 639px 1491px #FFF , 197px 1693px #FFF , 1477px 878px #FFF , 378px 841px #FFF , 436px 1600px #FFF , 795px 1683px #FFF , 955px 1620px #FFF , 566px 1468px #FFF , 972px 82px #FFF , 912px 659px #FFF , 914px 1435px #FFF , 630px 1963px #FFF , 176px 1073px #FFF , 1646px 1182px #FFF , 1323px 255px #FFF , 1910px 366px #FFF , 430px 391px #FFF , 589px 1294px #FFF , 313px 1509px #FFF , 708px 630px #FFF , 1789px 1054px #FFF , 101px 581px #FFF , 1576px 550px #FFF , 874px 268px #FFF , 1131px 1269px #FFF , 1161px 860px #FFF , 1085px 1939px #FFF , 1712px 1115px #FFF , 1882px 129px #FFF , 613px 766px #FFF , 1900px 989px #FFF , 673px 1285px #FFF , 1763px 5px #FFF , 1515px 1762px #FFF , 598px 724px #FFF , 1414px 166px #FFF , 957px 1384px #FFF , 784px 1023px #FFF , 1133px 852px #FFF , 1008px 1595px #FFF , 1966px 1237px #FFF , 528px 944px #FFF , 1371px 1414px #FFF , 1957px 1451px #FFF , 1219px 1298px #FFF , 1939px 418px #FFF , 1848px 304px #FFF , 690px 747px #FFF , 1723px 914px #FFF , 692px 1708px #FFF , 1460px 953px #FFF , 1362px 732px #FFF , 824px 1983px #FFF , 276px 1201px #FFF , 1017px 445px #FFF , 836px 231px #FFF , 1435px 1365px #FFF , 207px 842px #FFF , 491px 1157px #FFF , 1595px 708px #FFF , 1233px 899px #FFF , 397px 973px #FFF , 1212px 1471px #FFF , 1406px 1435px #FFF , 505px 694px #FFF , 892px 391px #FFF , 1652px 1382px #FFF , 553px 1428px #FFF , 334px 1434px #FFF , 258px 798px #FFF;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1907px 1611px #FFF , 459px 1445px #FFF , 1293px 1109px #FFF , 1361px 1089px #FFF , 551px 891px #FFF , 587px 1194px #FFF , 152px 1256px #FFF , 1198px 808px #FFF , 1117px 470px #FFF , 909px 1131px #FFF , 295px 185px #FFF , 1464px 505px #FFF , 1146px 1629px #FFF , 1088px 415px #FFF , 565px 705px #FFF , 1506px 625px #FFF , 998px 1321px #FFF , 914px 1597px #FFF , 1061px 1798px #FFF , 524px 285px #FFF , 1357px 576px #FFF , 1968px 969px #FFF , 743px 1944px #FFF , 1951px 1415px #FFF , 398px 1265px #FFF , 1741px 643px #FFF , 1205px 294px #FFF , 174px 26px #FFF , 269px 1039px #FFF , 217px 588px #FFF , 639px 1491px #FFF , 197px 1693px #FFF , 1477px 878px #FFF , 378px 841px #FFF , 436px 1600px #FFF , 795px 1683px #FFF , 955px 1620px #FFF , 566px 1468px #FFF , 972px 82px #FFF , 912px 659px #FFF , 914px 1435px #FFF , 630px 1963px #FFF , 176px 1073px #FFF , 1646px 1182px #FFF , 1323px 255px #FFF , 1910px 366px #FFF , 430px 391px #FFF , 589px 1294px #FFF , 313px 1509px #FFF , 708px 630px #FFF , 1789px 1054px #FFF , 101px 581px #FFF , 1576px 550px #FFF , 874px 268px #FFF , 1131px 1269px #FFF , 1161px 860px #FFF , 1085px 1939px #FFF , 1712px 1115px #FFF , 1882px 129px #FFF , 613px 766px #FFF , 1900px 989px #FFF , 673px 1285px #FFF , 1763px 5px #FFF , 1515px 1762px #FFF , 598px 724px #FFF , 1414px 166px #FFF , 957px 1384px #FFF , 784px 1023px #FFF , 1133px 852px #FFF , 1008px 1595px #FFF , 1966px 1237px #FFF , 528px 944px #FFF , 1371px 1414px #FFF , 1957px 1451px #FFF , 1219px 1298px #FFF , 1939px 418px #FFF , 1848px 304px #FFF , 690px 747px #FFF , 1723px 914px #FFF , 692px 1708px #FFF , 1460px 953px #FFF , 1362px 732px #FFF , 824px 1983px #FFF , 276px 1201px #FFF , 1017px 445px #FFF , 836px 231px #FFF , 1435px 1365px #FFF , 207px 842px #FFF , 491px 1157px #FFF , 1595px 708px #FFF , 1233px 899px #FFF , 397px 973px #FFF , 1212px 1471px #FFF , 1406px 1435px #FFF , 505px 694px #FFF , 892px 391px #FFF , 1652px 1382px #FFF , 553px 1428px #FFF , 334px 1434px #FFF , 258px 798px #FFF;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    /*font-family: Molengo, Sans-serif;*/
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 40px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    /*background: -webkit-linear-gradient(white, #b2d7f3);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    font-size: 2em;
    text-shadow: 0 2px 5px rgba(25, 41, 48, 0.1), 0 4px 5px rgba(25, 41, 48, 0.1), 0 6px 5px rgba(25, 41, 48, 0.1), 0 8px 5px rgba(25, 41, 48, 0.1), 0 10px 5px rgba(25, 41, 48, 0.1), 0 12px 5px rgba(25, 41, 48, 0.1), 0 14px 5px rgba(25, 41, 48, 0.1), 0 16px 5px rgba(25, 41, 48, 0.1), 0 18px 5px rgba(25, 41, 48, 0.1), 0 20px 5px rgba(25, 41, 48, 0.1);
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}


/*///////////////////// SPACE SHIPPPPP ///////////////////*/


.space {
    position: absolute;
    width: 320px;
    height: 185px;
    overflow: hidden;
}
.space .mars {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}
.space .mars .tentacle {
    position: absolute;
    top: -60px;
    right: -80px;
    z-index: 1;
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    border-radius: 100%;
    border-left: 15px solid #1aae1e;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    -webkit-animation: tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.space .mars .flag {
    position: absolute;
    height: 17px;
    width: 15px;
    top: -57px;
    left: -1px;
    -webkit-animation: flag-pole 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: flag-pole 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.space .mars .flag:before {
    content: "";
    position: absolute;
    height: 17px;
    width: 2px;
    background: #eee;
}
.space .mars .flag:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 14px;
    left: 2px;
    top: 0;
    background: #aaa;
    -webkit-animation: flag-unfurl 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: flag-unfurl 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.space .mars .flag .small-tentacle {
    position: absolute;
    left: -16px;
    top: 3px;
    height: 50px;
    width: 50px;
    border-left: 10px solid #1aae1e;
    border-radius: 100%;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    -webkit-animation: small-tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: small-tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    z-index: 2;
}

.space .mars .planet {
    box-sizing: border-box;
    position: absolute;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin-left: -60px;
    margin-top: -60px;
    z-index: 2;
}
.space .mars .planet .surface {
    position: absolute;
    border-radius: 100%;
    height: 140%;
    width: 140%;
    top: -30%;
    right: -10%;
    box-sizing: border-box;
    border: 30px solid rgba(0, 0, 0, 0.15);
    background: #ff5f40;
}
.space .mars .planet .crater1,
.space .mars .planet .crater2,
.space .mars .planet .crater3 {
    position: absolute;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.space .mars .planet .crater1 {
    height: 20px;
    width: 20px;
    top: 32%;
    left: 17%;
}
.space .mars .planet .crater2 {
    height: 10px;
    width: 10px;
    top: 26%;
    left: 55%;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.space .mars .planet .crater3 {
    height: 10px;
    width: 10px;
    top: 60%;
    left: 40%;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.space .ship {
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -55px;
    margin-right: -55px;
    height: 22px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 0% 100% 0;
    transform-origin: 0% 100% 0;
    z-index: 1;
    -webkit-animation: ship 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: ship 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.space .ship .ship-rotate {
    position: absolute;
    height: 22px;
    -webkit-transform: rotate(-110deg);
    transform: rotate(-110deg);
    -webkit-animation: ship-rotate 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    animation: ship-rotate 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.space .ship .pod {
    position: absolute;
    top: 0;
    left: -8px;
    height: 16px;
    width: 16px;
    background: #eee;
    border-radius: 100% 0 100% 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.space .ship .fuselage {
    position: absolute;
    top: 14px;
    left: -6px;
    height: 8px;
    width: 12px;
    background: #eee;
    border-radius: 100% 100% 0 0;
}
.space .ship .fuselage:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid red;
}

@-webkit-keyframes small-tentacle {
    0% {
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    86% {
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    89% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@keyframes small-tentacle {
    0% {
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    86% {
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    89% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
@-webkit-keyframes tentacle {
    0% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    75% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    80% {
        -webkit-transform: rotate(-165deg) translate(6px, 8px);
        transform: rotate(-165deg) translate(6px, 8px);
    }
    82.5% {
        -webkit-transform: rotate(-165deg) translate(28px, -17px);
        transform: rotate(-165deg) translate(28px, -17px);
    }
    100% {
        -webkit-transform: rotate(-165deg) translate(35px, -22px);
        transform: rotate(-165deg) translate(35px, -22px);
    }
}
@keyframes tentacle {
    0% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    75% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    80% {
        -webkit-transform: rotate(-165deg) translate(6px, 8px);
        transform: rotate(-165deg) translate(6px, 8px);
    }
    82.5% {
        -webkit-transform: rotate(-165deg) translate(28px, -17px);
        transform: rotate(-165deg) translate(28px, -17px);
    }
    100% {
        -webkit-transform: rotate(-165deg) translate(35px, -22px);
        transform: rotate(-165deg) translate(35px, -22px);
    }
}
@-webkit-keyframes ship {
    0% {
        right: -10%;
        top: -10%;
        margin-top: -55px;
        margin-right: -55px;
    }
    40% {
        right: 50%;
        top: 50%;
    }
    79.5% {
        margin-top: -55px;
        margin-right: -55px;
    }
    84% {
        margin-top: -20px;
        margin-right: 0px;
    }
    100% {
        right: 50%;
        top: 50%;
        margin-top: 0px;
        margin-right: 0px;
    }
}
@keyframes ship {
    0% {
        right: -10%;
        top: -10%;
        margin-top: -55px;
        margin-right: -55px;
    }
    40% {
        right: 50%;
        top: 50%;
    }
    79.5% {
        margin-top: -55px;
        margin-right: -55px;
    }
    84% {
        margin-top: -20px;
        margin-right: 0px;
    }
    100% {
        right: 50%;
        top: 50%;
        margin-top: 0px;
        margin-right: 0px;
    }
}
@-webkit-keyframes ship-rotate {
    0% {
        -webkit-transform: rotate(-110deg);
        transform: rotate(-110deg);
    }
    20% {
        -webkit-transform: rotate(-110deg);
        transform: rotate(-110deg);
    }
    34% {
        -webkit-transform: rotate(47deg);
        transform: rotate(47deg);
    }
    79% {
        -webkit-transform: rotate(47deg);
        transform: rotate(47deg);
    }
    100% {
        -webkit-transform: rotate(47deg);
        transform: rotate(47deg);
    }
}
@keyframes ship-rotate {
    0% {
        -webkit-transform: rotate(-110deg);
        transform: rotate(-110deg);
    }
    20% {
        -webkit-transform: rotate(-110deg);
        transform: rotate(-110deg);
    }
    34% {
        -webkit-transform: rotate(47deg);
        transform: rotate(47deg);
    }
    79% {
        -webkit-transform: rotate(47deg);
        transform: rotate(47deg);
    }
    100% {
        -webkit-transform: rotate(47deg);
        transform: rotate(47deg);
    }
}
@-webkit-keyframes ship-shadow {
    0% {
        right: -10%;
        -webkit-transform: scale(1.4, 1);
        transform: scale(1.4, 1);
        opacity: .3;
    }
    40% {
        right: 50%;
        -webkit-transform: scale(0.75, 1);
        transform: scale(0.75, 1);
        opacity: 1;
    }
    100% {
        right: 50%;
    }
}
@keyframes ship-shadow {
    0% {
        right: -10%;
        -webkit-transform: scale(1.4, 1);
        transform: scale(1.4, 1);
        opacity: .3;
    }
    40% {
        right: 50%;
        -webkit-transform: scale(0.75, 1);
        transform: scale(0.75, 1);
        opacity: 1;
    }
    100% {
        right: 50%;
    }
}
@-webkit-keyframes planet-bump {
    0% {
        margin-left: 0;
    }
    39% {
        margin-left: 0;
    }
    40% {
        margin-left: -1px;
    }
    40.5% {
        margin-left: 1px;
    }
    41% {
        margin-left: 0;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes planet-bump {
    0% {
        margin-left: 0;
    }
    39% {
        margin-left: 0;
    }
    40% {
        margin-left: -1px;
    }
    40.5% {
        margin-left: 1px;
    }
    41% {
        margin-left: 0;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes flag-pole {
    0% {
        top: -57px;
    }
    48% {
        top: -57px;
    }
    54% {
        top: -77px;
    }
    90% {
        top: -77px;
    }
    92% {
        top: -57px;
    }
    100% {
        top: -57px;
    }
}
@keyframes flag-pole {
    0% {
        top: -57px;
    }
    48% {
        top: -57px;
    }
    54% {
        top: -77px;
    }
    90% {
        top: -77px;
    }
    92% {
        top: -57px;
    }
    100% {
        top: -57px;
    }
}
@-webkit-keyframes flag-unfurl {
    0% {
        width: 0;
    }
    55% {
        width: 0;
    }
    60% {
        width: 14px;
    }
    90% {
        width: 14px;
    }
    100% {
        width: 14px;
    }
}
@keyframes flag-unfurl {
    0% {
        width: 0;
    }
    55% {
        width: 0;
    }
    60% {
        width: 14px;
    }
    90% {
        width: 14px;
    }
    100% {
        width: 14px;
    }
}
